<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ekincare Android Application Test Automation Suite">
	
	<listeners>
		<listener class-name="com.ekincare.androidautomation.extentreport.ExtentReporterNG" />		
	</listeners>
	
	<test name = "Ekincare_Apk_Test">
		
		<classes>
			<class name="com.ekincare.androidautomation.HomeTest" />
			<class name="com.ekincare.androidautomation.benefits.GymScenarioTest" />
			<class name="com.ekincare.androidautomation.benefits.HealthCheckupScenarioTest" />
			<class name="com.ekincare.androidautomation.benefits.OrderMedicinesScenarioTest" />
			<class name="com.ekincare.androidautomation.benefits.TalkWithDoctorTest" />
			<class name="com.ekincare.androidautomation.benefits.TalkWithFamilyDoctorTest" />
			<class name="com.ekincare.androidautomation.benefits.DentalCheckupTest" />
			<class name="com.ekincare.androidautomation.benefits.VisionCheckupTest" />
			<class name="com.ekincare.androidautomation.health.MedicalReportsTest" />
			<class name="com.ekincare.androidautomation.health.InsightsTest" />
			<class name="com.ekincare.androidautomation.improve.ChallengesTest" />
			<class name="com.ekincare.androidautomation.improve.EventsTest" />
			<class name="com.ekincare.androidautomation.profile.FamilyMembersTest" />
 		</classes>
		
	</test>
</suite>